<div class="fixed inset-0 z-50 flex items-center justify-center md:p-4 backdrop-blur" [class.is-mobile]="environment.mobile" (click)="onBackdropClick($event)">
  <div #dialogContent class="bg-gray-800 rounded-lg shadow-xl h-full md:max-w-lg w-full md:max-h-[80vh] w-full overflow-hidden flex flex-col fade-in">
    <div class="p-4 border-b border-gray-700 flex justify-between items-center">
      <h2 class="text-xl font-bold">{{movie.title}}</h2>
      <button (click)="closeDetailsDialog()" class="text-gray-400 hover:text-white">
        <span class="material-icons">close</span>
      </button>
    </div>

    <div class="flex justify-between gap-x-[1rem] flex-col item-center">
      <img
        src="{{movieDetail?.backdrop_path !== 'N/A' ? movieDetail?.backdrop_path : 'https://via.placeholder.com/50x75?text=No+Poster'}}"
        alt="{{movie.title}}"
        class="">
    </div>

    <div class="absolute mt-[25vh] md:relative md:mt-0 md:top-[-2.5rem] h-full ">
      <div class="p-4 formDialog flex">
        <img
          src="{{this.movie.poster !== 'N/A' ? movie.poster : 'https://via.placeholder.com/50x75?text=No+Poster'}}"
          alt="{{movie.title}}"
          class="object-cover rounded-[25px] max-h-[20vh] max-w-[15vh] min-h-[20vh] min-w-[15vh] shadow-xl">
        <div class="mt-[2rem] pt-[1.5rem] pl-[.5rem] md:pt-0">
          <div class="flex items-center gap-x-[.5rem]">
            <span class="material-icons text-yellow-500 font-bold text-4xl!">alarm</span>
            <span>{{movie.released | date:"dd/MM/yyyy"}} - {{movieDetail?.runtime | minutesToHours}}min</span>
          </div>
          <mat-chip-set>
            @for (genre of movieDetail?.genres; track genre.id){
              <mat-chip>{{genre.name}}</mat-chip>
            }
          </mat-chip-set>
        </div>
      </div>

      <div class="pt-[.5rem] pb-[.5rem] pl-[1.5rem] pr-[1.5rem] h-full bg-gray-700">
        <span>{{movieDetail?.overview}}</span>
      </div>
    </div>

  </div>
</div>
