<div class="fixed inset-0 z-50 flex items-center justify-center p-4 backdrop-blur">
  <div class="bg-gray-800 rounded-lg shadow-xl max-w-lg w-full max-h-[90vh] overflow-hidden flex flex-col fade-in">
    <div class="p-4 border-b border-gray-700 flex justify-between items-center">
      <h2 class="text-xl font-bold">{{movie.title}}</h2>
      <button (click)="closeDetailsDialog()" class="text-gray-400 hover:text-white">
        <span class="material-icons">close</span>
      </button>
    </div>

    <div class="p-4 flex justify-between">
      <div class="relative formDialog">
        <img
          (click)="togglePanel()"
          src="{{this.movie.poster !== 'N/A' ? movie.poster : 'https://via.placeholder.com/50x75?text=No+Poster'}}"
          alt="{{movie.title}}"
          class="object-cover rounded-[25px] max-h-[35vh] max-w-[25vh] min-h-[35vh] min-w-[25vh] cursor-pointer">

        <!-- Bandeau coulissant -->
        @if(showPanel) {
          <div
               class="absolute top-0 right-0 h-full w-[120px] bg-gray-900 rounded-r-lg shadow-lg overflow-y-auto transition-all duration-300 z-10">
            <div class="p-2 space-y-2">
              @for(img of imgs;track img) {
              <img
                (click)="updatePoster(img)"
                [src]="img"
                class="w-full h-20 object-cover rounded cursor-pointer hover:scale-105 transition-transform">
              }
            </div>
          </div>
        }
      </div>

      <!--<div class="flex">
        <button
          (click)="updateMovie()"
          class="bg-yellow-500 hover:bg-yellow-600 text-gray-900 px-6 py-2 rounded-full font-medium transition-colors duration-200 flex self-end cursor-pointer"
        >
          <span class="material-icons mr-1">search</span>
          Search
        </button>
      </div>-->
    </div>

  </div>
</div>
