@use "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-form-field-type-mat-select {
  .mdc-line-ripple {
    color: var(--color-yellow-500)
  }
}

.mat-mdc-option {
  .mdc-list-item__primary-text {
    display : flex;
    justify-content: space-between;
    width:75%;
  }
}

.cdk-overlay-pane {
  background-color: var(--color-gray-800);
}

.is-mobile {
  padding-top: 2rem;
  //padding-top: env(safe-area-inset-top, 0px);
}

ion-toast.overrideToast::part(button) {
    color: var(--color-yellow-500);
}

ion-toast.overrideToast::part(cancel) {
  color: white;
}
