<div class="movie-card group flex items-center flex-col" (click)="selectMovie()">
  <div class="relative movie-card__container min-w-[35vh] sm:min-w-[25vh]" [class.shaking]="hoveringDelete">
    <img
      [src]="movie.poster !== 'N/A' ? movie.poster : 'https://placehold.co/300x450?text='+formatStringForPlaceholder(movie.title)"
      [alt]="movie.title"
      class="h-full w-full object-cover movie-card-poster" [class.cursor-pointer]="user">
    @if(user){
      <button
        class="absolute cursor-pointer top-2 right-2 z-10 md:hidden group-hover:flex items-center justify-center bg-red-600 text-white w-10 md:w-6 h-10 md:h-6 text-xl md:text-xs rounded-full hover:bg-red-700"
        (mouseenter)="hoveringDelete = true"
        (mouseleave)="hoveringDelete = false"
        (click)="deleteMovie()">
        ✕
      </button>
    }
  </div>
  <div class="p-4 movie-card-t">
    <h1 class="font-bold truncate text-3xl movie-card-title">{{movie.released | date:"dd "}}</h1>
    <h1 class="font-bold truncate text-3xl movie-card-title text-yellow-500">|</h1>
    <h1 class="font-bold truncate self-end movie-card-title">{{movie.released | date:"MMM"}}</h1>
  </div>
</div>
