/*
.movie-card {
  @apply bg-gray-800 rounded-lg overflow-hidden shadow-lg cursor-pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
}*/

.movie-card-title {
  text-align: center;
}

.movie-card-t {
  max-width: 25vh;
}

.movie-card-poster {
  border-radius : 25px;
  max-height: 35vh;
  max-width: 25vh;
}
