@keyframes shake {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  75% { transform: rotate(1deg); }
}

.movie-card {
  &__container {
    max-width : 25vh;
  }
}

.movie-card-title {
  text-align: center;
  &__separator {
    color: yellow;
  }
}

.movie-card-t {
  max-width: 25vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.movie-card-poster {
  border-radius : 25px;
  max-height: inherit;
  min-height: inherit;
  max-width: inherit;
  min-width: inherit;
}

.shaking {
  animation: shake 0.3s infinite;
}
