<div class="movie-card group" (click)="selectMovie()">
  <div class="relative movie-card__container" [class.shaking]="hoveringDelete">
    <img
      [src]="movie.poster !== 'N/A' ? movie.poster : 'https://via.placeholder.com/300x450?text=No+Poster'"
      [alt]="movie.title"
      class="h-full w-full object-cover movie-card-poster">
    <button
      class="absolute cursor-pointer top-2 right-2 z-10 hidden group-hover:flex items-center justify-center bg-red-600 text-white w-6 h-6 rounded-full text-xs hover:bg-red-700"
      (mouseenter)="hoveringDelete = true"
      (mouseleave)="hoveringDelete = false"
      (click)="deleteMovie()">
      ✕
    </button>
  </div>
  <div class="p-4 movie-card-t">
    <h1 class="font-bold truncate movie-card-title">{{movie.released | date:"dd/MM/yyyy"}}</h1>
  </div>
</div>
